#tournamentMenu .active.item {
  border-bottom-color: orange !important;
  border-bottom-width: 4px;
}

#tournamentMenu .item {
  border-bottom-color: none;
  border-bottom-width: 4px;
}

#tournamentMenu {
  border-width: 0;
}

.settingTextArea,
.settingInput input,
.settingDropdown.ui.selection.dropdown,
.settingDropdown .item {
  background-color: #1f232c !important;
  color: lightgray !important;
}

.settingLabel {
  color: grey;
  padding: 5px 0px;
}
